$grey: #1c1c1c;
$darkgrey: #2e2e2e;
$lightgrey: #737373;
$lightergrey: #8c8c8c;
$white: #ededed;
$silver: #cacbca;
$green: #3ab37f;
$darkgreen: #2d6f53;
$darkergreen: #234334;

body {
  background-color: $grey;
  color: $white;
  margin: 0 ;
  height: 600vh;
  font-family: 'Circular Std', sans-serif;
}
#navbar {
  margin-top: 10px;
  margin-bottom: 10px;
 
  width: 1300px;
  position: fixed;
}

#navlining{
    border: none;
    height: 1px;
    background-color: $darkgrey;
    margin: 20px 0;
    width: 100vw;
}

#logo{
  color: $white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  width: fit-content;
  letter-spacing: 1px;
  margin-right: 60px;
  margin-left: 10vh;
 
}

#logoimg {
width: 30px;
margin-right: 5px;
transform: translateY(22%);
}

.nav-link{
  color: $silver;
  text-decoration: none;
  margin-right: 3vh;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    color: $green;
    transition: color 0.2s;
  }
}