<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Healia</title>
	
	</head>
	<body>
		
			<nav class="menu-container">
				<!-- burger menu -->
				
					<input type="checkbox" aria-label="Toggle menu" style="position: fixed; right: 0; margin-top: -15px;margin-right: 15px;"/>
					<span style="position: fixed; right: 0; margin-top: -20px;margin-right: 15px;"></span>
					<span style="position: fixed; right: 0; margin-top: -10px;margin-right: 15px;"></span>
					<span style="position: fixed; right: 0; margin-top: 0px; margin-right: 15px;"></span>
					
					
			
			  
				<!-- logo -->
				<a href="#" class="menu-logo">
				  <img src="../assets/img/logo.png"/>
				</a>
			  
				<!-- menu items -->
				<div class="menu">
				  <ul>
					<li>
					  <a href="#">
						Pricing
					  </a>
					</li>
					<li>
					  <a href="#">
						FAQ
					  </a>
					</li>
					<li>
					  <a href="#">
						Contact
					  </a>
					</li>
				  </ul>
				  <ul>
					<li>
					  <a href="#" class="github"><img src="../assets/img/github.png"></a>
					</li>
					
					<li>
					  <a href="#" class="greybutton">Login</a>
					</li>
				  <li>
					  <a href="#" class="greenbutton">Sign Up</a>
					</li>
				</ul>
				</div>
			  </nav>	
			  <hr id="navlining">
	</body>
</html>
