/* You can add global styles to this file, and also import other style files */
$grey: #1c1c1c;
$darkgrey: #2e2e2e;
$lightgrey: #737373;
$lightergrey: #8c8c8c;
$white: #ededed;
$silver: #cacbca;
$green: #3ab37f;
$darkgreen: #2d6f53;
$darkergreen: #234334;



@font-face {
    font-family: 'Circular Std';
    src: url('/src/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/src/assets/fonts/CircularStd-Black.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/src/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('/src/assets/fonts/CircularStd-Book.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/src/assets/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/src/assets/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/src/assets/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('/src/assets/fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('/src/assets/fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

